.bg {
  /* The image used */
  background-image: url(./images/white3.png);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.chatbg {
  /* The image used */
  background-image: url(./images/chatbg.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-margin-right{
  margin-right: 10px;
}
.btn-h1-spaceing{
  margin-top: 18px;
}
.btn-spaceing{
  margin-bottom: 18px;
}
.btn-spaceing-top{
  margin-top: 18px;
}
.h1-spaceing{
  margin-top: 10px;
}
.background-colour{
  background-color: #d9d9d9;
}
.user-image{
  width: 50px;
  height: 50px;
  border:1px solid black;
  border-radius: 50%;
  float: left;
}
.profile-image{
  width: 150px;
  height: 150px;
  border:2px solid black;
  border-radius: 50%;
  position: absolute;
}
.possition{
  width: 30px;
  height: 30px;
  background-color: white;
  border:1px solid black;
  border-radius: 50%;
  margin-left:115px;
  margin-top: 105px;
  color: #ffffff;
  position: absolute;
}
.message{
  margin-top: 20px;
  margin-bottom: 40px;
}
.message-l-side{
 margin-left: 500px;
}
.info{
  float: left;
    margin-left: 15px;
}
.info2{
  float: right;
}
.info-spaceing{

  margin-bottom: 10px;
}
.info>h4{
  margin:5px;
}
.message-body{
  clear: both;
  margin-left: 65px;
  font-size: 16px;
  line-height: 1.3em;
}
.handle{
  font-size: 15px;
  color:#4d4d4d;
}
.time{
  margin-bottom: 0px;
  font-size: 11px;
  font-style: italic;
  color: #aaa;
}
.icon-spaceing{
  margin-right: 15px;
}
.mt{
  margin-top: 50px;
}
.nm-left{
  margin-left:420px;
}
.nm-left2{
  margin-left:350px;
}
.ls-lm{
  margin-left: 30px;
}
/* chat buble */

.box {
    width: 200px;
    border: 4px solid #00bfb6;
    padding: 10px;
    text-align: center;
    font-weight: 900;
    color: #00bfb6;
    font-family: arial;
    position: relative;
}

.speech-bubble {
	position: relative;
	background: #007ffe;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 2px solid transparent;
	border-right-color: #007ffe;
	border-left: 0;
	border-bottom: 0;
	margin-top: -1px;
	margin-left: -2px;
}
